body {

    /* background: #dc16ee; */

    display: flex;

    justify-content: center;

    align-items: center;

    
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;

}

*{

    font-family: cursive;

    box-sizing: padding-box;

}

 form { 

    /* width: 1000px; */
    /* height: 1000px; */

    border: 3px solid rgb(66, 61, 36);
        line-height: 5px;
    padding: 20px;

    background: rgb(27, 60, 167);
    border-radius: 15px;
    box-shadow: 45px 45px 45px
    -45px -45px -45px;
    color: rgb(160, 236, 20);

} 

.admin_login,.student_login,.teacher_login,.log_out
{
    margin-bottom: 40px;
    border-radius: 35px;
    box-shadow: inset 10ox 10px 10px,
    inset -10px -10px -10px;
}
h1 {

    text-align: center;
    

    margin-bottom: 40px;
    color: rgb(255, 0, 0);

}

input {

    display: block;

    border: 2px solid #ccc;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: rgb(226, 233, 22);

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(35, 174, 202);

    padding: 2px 8px;

    color: #fff;

    border-radius: 100px;

    margin-right: 800px;

    border: none;

}

button:hover{

    opacity: .10;

}

.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}
.title{
    margin-bottom: 20px;

}

h2 {

    text-align: center;

    color: yellow;

}

a {

    float: right;

    background: rgb(176, 244, 244);

    padding: 10px 15px;

    color: rgb(216, 22, 22);

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}

/* table{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
} */